<% layout('layouts/boilerplate.ejs') %>
<div style="padding-top: 50px;" style="background-color:  #C1CFA1"></div>
<div class="row mt-4" >
    <div class="alert alert-danger col-6 offset-3" role="alert">
       <p class="alert-heading"><%=message%> </p>
      
      </div>
</div>
