<% layout('layouts/boilerplate.ejs') %>
<body >
    
    <form action="/verify-otp2" method="POST" style="margin-top: 80px;" >
        <h2>Verify OTP</h2>
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" required>

        <label for="otp">Enter OTP:</label>
        <input type="text" name="otp" id="otp" required>

        <label for="newPassword">New Password:</label>
        <input type="password" name="newPassword" id="newPassword" required>

        <button type="submit" style="height: 50px; width: 350px; margin-top:20px ; background-color: darkgoldenrod; ">Reset Password</button>
    </form>
</body>
