<% layout('layouts/boilerplate.ejs') %>
<body class="container mt-5" style="background-color:  #C1CFA1">

    <h2 class="text-success mb-4">Create New  Post</h2>

    <form id="createForm" method="post" action="/adoptly" class=" form  border p-4 rounded shadow-sm bg-light needs-validation" novalidate>
        
        <div class="mb-3">
            <label class="form-label">Category</label>
            <input name="category" class="form-control" type="text" required>
            <div class="invalid-feedback">Category is required.</div>
        </div>
        
        <div class="mb-3">
            <label class="form-label">Image URL</label>
            <input name="image" class="form-control" type="url" >
            <div class="invalid-feedback">Please enter a valid image URL.</div>
        </div>

        <div class="mb-3">
            <label class="form-label">Breed</label>
            <input name="breed" class="form-control" type="text" required>
            <div class="invalid-feedback">Breed is required.</div>
        </div>

        <div class="mb-3">
            <label class="form-label">Age (in years)</label>
            <input name="age" class="form-control" type="number" min="0" required>
            <div class="invalid-feedback">Please enter a valid age.</div>
        </div>
        <div class="mb-3">
            <label class="form-label">Gender</label>
            <input name="gender"  class="form-control" type="text" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Price</label>
            <input name="price" class="form-control" type="number" min="0" required>
            <div class="invalid-feedback">Please enter a valid Price.</div>
        </div>

        <div class="mb-3">
            <label class="form-label">Place</label>
            <input name="place" class="form-control" type="text" required>
            <div class="invalid-feedback">Place is required.</div>
        </div>

        <div class="mb-3">
            <label class="form-label">Description</label>
            <textarea name="description" class="form-control" rows="3" required></textarea>
            <div class="invalid-feedback">Description is required.</div>
        </div>

        <div class="mb-3">
            <label class="form-label">Food Suggestions</label>
            <textarea name="food_suggestions" class="form-control" rows="2"></textarea>
        </div>

        <div class="mb-3">
            <label class="form-label">Medicine</label>
            <input name="medicine" class="form-control" type="text">
        </div>

        <div class="mb-3">
            <label class="form-label">Care Suggestions</label>
            <textarea name="care_suggestions" class="form-control" rows="2"></textarea>
        </div>

        <button type="submit" class="btn btn-success w-100">Donet Pet</button>

    </form>

    

</body>
